# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode
CMakePresets.json

# Build system
.build
build
CMakeUserPresets.json
test_package/conan.lock
test_package/conanbuildinfo.txt
test_package/conaninfo.txt
test_package/graph_info.json
